    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Fourth navbar example">
        <div class="container-fluid">
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarsExample04" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="chats">Chats</a>
              </li>
            </ul>
            <div class="navbar-nav user-button">
              <div class="nav-item dropdown" style="color: #fff;">
                <span class="name"><%= user.name%></span>
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/<%= user.avatar%>" class="rounded mx-auto d-block img-thumbnail avatar" alt="avatar">
                </a>
                <ul class="dropdown-menu">
                  <li class="logout"><span class="dropdown-item logout-link">Log out</span></li>
                  <li class="delete-acc"><span class="dropdown-item delete-link">Delete account</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>

      