<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="../chats">
        <img src="/icons/favicon-32x32.png" alt="chats" class="icon">
        <span>BeKa rOOms</span>
      </a>
    </div>
  </nav>